@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --primary-color:rgba(151, 151, 151, 0.9);
    --secondary-color:goldenrod;
}

*{
    box-sizing: border-box;
    padding: 0;
    /* margin: 0; */
    text-align: center;
  
 
}

body{

    font-family: 'Roboto', sans-serif;
    margin-top: 4rem;
    background-image: url("img3.jpg");
    background-attachment: fixed;
    background-size: cover;

}


.heading{
    padding-bottom: 3rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
   font-size: 3rem;
   margin-top: 0rem;
   color: white;
  
}

input{
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    border: unset;
    border-radius: 4px;
    box-shadow: 0 0 8px #6b7280;
    outline-color: var(--secondary-color);
    font-size: 1rem;
}



label{
   padding-left: 0rem; 
   font-weight: 600;
   font-size: 1.1rem;
   margin-left: 0rem;
}
.result{
   
    color: white;
    padding: 1em;
    font-size: 1.2em;
    background-color: #363030;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    font-weight: 600;
    margin: 1em auto;


}


form{
    padding: 2em;
    margin: auto;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 0 8px #6b7280;
    border-radius: 5px;
    background-color: var(--primary-color);
}


button{
    color: white;
    border: unset;
    margin: 1em auto;
    padding: 1em 2em;
    font-weight: 600;
    border-radius: 5px;
    background-color:purple;
    border: 1px solid white;

    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 1px solid black;
}
